{include file='../Public/head.html'}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
  <form action="index.php?m=Admin&c=Article&a=realDeleteAll" method="post" >
    <h1 class="page-header">回收站</h1>
    <ol class="breadcrumb">
      <li>
        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确实彻底删除？')">彻底删除</button>
      </li>
      <li><a class="btn btn-default btn-sm" href="index.php?m=Admin&c=Article&a=index">返回</a></li>
    </ol>
    <h1 class="page-header">管理 <span class="badge">7</span></h1>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <span class="glyphicon glyphicon-th-large"></span> 
              <span class="visible-lg">选择</span>
            </th>
            <th>
              <span class="glyphicon glyphicon-file"></span> 
              <span class="visible-lg">标题</span>
            </th>
            <th>
              <span class="glyphicon glyphicon-list"></span> 
              <span class="visible-lg">分类</span>
            </th>
            <th class="hidden-sm">
              <span class="glyphicon glyphicon-tag"></span> 
              <span class="visible-lg">作者</span>
            </th>
            <th class="hidden-sm">
              <span class="glyphicon glyphicon-comment"></span> 
              <span class="visible-lg">描述</span>
            </th>
            <th>
              <span class="glyphicon glyphicon-time"></span> 
              <span class="visible-lg">点击量</span>
            </th>
            <th>
              <span class="glyphicon glyphicon-time"></span> 
              <span class="visible-lg">添加时间</span>
            </th>
            <th>
              <span class="glyphicon glyphicon-pencil"></span> 
              <span class="visible-lg">操作</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {foreach from=$artInfo item='row'}
          <tr>
            <td><input type="checkbox" class="input-control" name="id[]" value="{$row.art_id}"/></td>
            <td class="article-title">{$row.art_title}</td>
            <td>{$row.cate_name}</td>
            <td class="hidden-sm">{$row.art_author}</td>
            <td class="hidden-sm">{$row.art_desc}</td>
            <td class="hidden-sm">{$row.art_hits}</td>
            <td>{$row.art_addtime|date_format:'%Y-%m-%d %H:%M:%S'}</td>
            <td>
              <a class="btn btn-default btn-xs" href="index.php?m=Admin&c=Article&a=recove&art_id={$row.art_id}">恢复文章</a>   
              <a class="btn btn-danger btn-xs" href="index.php?m=Admin&c=Article&a=realDelete&art_id={$row.art_id}" onclick="return confirm('确定彻底删除，该操作不可逆?')">彻底删除</a>  
            </td>
          </tr>
          {/foreach}
        </tbody>
      </table>
    </div>
    <footer class="message_footer">
      <nav>
        <div class="btn-toolbar operation" role="toolbar">
          <div class="btn-group" role="group"> <a class="btn btn-default" onClick="select()">全选</a> <a class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default" onClick="noselect()">不选</a> </div>
        </div>
        <!--分页-->
        {$page}
        <!--分页-->
      </nav>
    </footer>
  </form>
</div>
{include file='../Public/footer.html'}