{include file='../Public/head.html'}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
  <div class="row">
    <form action="index.php?m=Admin&c=Article&a=add" method="post" enctype="multipart/form-data" class="add-article-form">
      <div class="col-md-9">
        <h1 class="page-header">撰写新文章</h1>
        <!--文章标题-->
        <div class="form-group">
          <label for="article-title" class="sr-only">标题</label>
          <input type="text" id="article-title" name="art_title" class="form-control" value="{$article.art_title}" placeholder="在此处输入标题" required autofocus autocomplete="off">
        </div>
        
        <!--文章内容-->
        <div class="add-article-box">
          <h2 class="add-article-box-title"><span>文章内容</span></h2>
          <div class="add-article-box-content">
            <!--引入ckeditor插件-->
            <script type="text/javascript" src="{$smarty.const.CURRENT_PUBLIC_DIR}/lib/ckeditor/ckeditor.js"></script>
            <textarea id="ckeditor" name="art_comment">{$article.art_comment}</textarea>
            <script type="text/javascript">
              CKEDITOR.replace('ckeditor');
            </script>
          </div>
        </div>
      
        <!--文章描述-->
        <div class="add-article-box">
          <h2 class="add-article-box-title"><span>文章描述</span></h2>
          <div class="add-article-box-content">
          	<textarea class="form-control" name="art_desc" autocomplete="off">{$article.art_desc}</textarea>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h1 class="page-header">操作</h1>
        
        <!--文章描述-->
        <div class="add-article-box">
          <h2 class="add-article-box-title"><span>文章分类</span></h2>
          <div class="add-article-box-content">
            <div class="form-group">
              <label for="category-id">文章分类</label>
              <select id="category-id" class="form-control" name="cate_id">
                <option value="" selected></option>
                {foreach from=$cateInfo item='row'}
                <option value="{$row.cate_id}" {if $article.cate_id == $row.cate_id}selected="selected"{/if}>{$row.cate_name|indent:$row.level:"--"}</option>
                {/foreach}
              </select>
            </div>
          </div>
        </div>
        
        <!--文章描述-->
        <div class="add-article-box">
          <h2 class="add-article-box-title"><span>作者</span></h2>
          <div class="add-article-box-content">
            <input type="text" class="form-control" value="{$article.art_author}" placeholder="输入作者名" name="art_author" required autocomplete="off">
          </div>
        </div>
        
        <!--缩略图-->
        <div class="add-article-box">
          <h2 class="add-article-box-title"><span>文章缩略图</span></h2>
          <div class="add-article-box-content">
            <div class="form-group">
              <label for="inputfile">文件输入</label>
              <input type="file" id="inputfile" name="art_thumb"/>
            </div>
          </div>
          <!-- <div class="add-article-box-footer">
            <button class="btn btn-default" type="button" ID="upImage">选择</button>
          </div> -->
        </div>

        <div class="add-article-box">
          <h2 class="add-article-box-title"><span>操作</span></h2>
          <div class="add-article-box-content">
          	<button class="btn btn-primary" type="submit">发布</button>
            <button class="btn btn-success">重置</button>
            <a class="btn btn-default">返回</a>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
{include file='../Public/footer.html'}